!!!5
%html{:lang => "en"}
	%head
		%title Xi Rao's Homepage
		%meta{:charset => "utf-8"}/
		%link{:href => "/assets/css/screen.css", :rel => "stylesheet"}/
		%script{:src => "//use.typekit.net/tnn8xdo.js", :type => "text/javascript"}
		:javascript
			try{Typekit.load();}catch(e){}
	%body
		#page
			%section#start.start
				%header#header{:role => "banner"}
					%img{:src => "/assets/images/rx2.png"}
					%h1 
						:markdown
							document 

							design 

							portfolio
				.content#in
					#about
						:markdown
							This portfolio book contains 18 exercises of Document Design.

							typography

							color

							grid

							..
					%a{:href => "/assets/DD.pdf"}
						#dl
							:markdown
								DOWNLOAD
			%footer#footer
				:markdown
					Site created by Xi Rao using HAML, SASS, and Typykit.
		%script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js", :type => "text/javascript"}