//Colors
$paper: #fbefd0;
$orange: #fcab38;
$dark: #525150;
$light: #949590;
$white: #efefef;

//Generic, reusable colors
$background: $paper;
$blockBackground: $orange;
$specialText: $light;
$smallText: $light;
$nameText: $orange;
$primaryText: $white;
$copyText: $dark;

html {
	background-color: $background;
	color: $copyText;
}

section#start {
	background-color: #000;
	header#header {
		color: $primaryText;
	}
	.content#in {
		#about {
			color: $copyText;
		}
		#dl {
			color: $primaryText;
			background-color: $blockBackground;
		}
	}
}

footer#footer {
	p {
		color: $specialText;
	}
}

a {
	color: inherit;
	&:hover,&:active,&:focus { color: $primaryText; }
}