@import "functions";

$coquette: "coquette",sans-serif;
$proximaNovaCondensed: "proxima-nova-condensed",sans-serif;
$alternateGothic3: "alternate-gothic-no-3-d",sans-serif;
$ffTisaPro: "ff-tisa-web-pro",serif;

$logoFont: $coquette;
$headlineFont: $alternateGothic3;
$copyFont: $proximaNovaCondensed;
$specialFont: $ffTisaPro;

// Font sizes
$baseFS: 18;
$baseLH: 24;
$baseRatio: $baseLH/$baseFS; //Ideal ratio of line-height to font-size

// Font sizes with em units
$baseFontSize: #{$baseFS/16}em;
$baseLineHeight: #{$baseLH/$baseFS}em;

html {
  -webkit-text-size-adjust: 100%;
  font-size: 100%;
}

body {
  -webkit-text-rendering: optimizeLegibility;
  font-family: $copyFont;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  text-align: center;
}

a {
  text-decoration: none;
}

/* Faces, Weights, Sizes, Transforms and Layout-Independent Offsets */

section#start {
  header#header {
    font-family: $headlineFont;
    img {
    }
    h1 {
      @include -k-typescale(72,108,$baseFS);
      text-transform: uppercase;
      letter-spacing: 0.1203125em; 
    }
  } 
  .content#in {
    #about {
      font-family: $specialFont;
      font-style: italic;
      @include -k-typescale(18,24,$baseFS);
      letter-spacing: 0.0203125em;
    }
    a {
      #dl {
      font-family: $headlineFont;
      @include -k-typescale(24,36,$baseFS);
      text-transform: uppercase;
      letter-spacing: 0.1203125em;
      }
    }
  }
}

footer#footer {
  p {
    @include -k-typescale(14,$baseLH,$baseFS);
  }
}


